	body{
		background : url("rp.png");
	font-size : 1vw;
}
p{
	font-size:2vmin;
}
	img{
	border-radius:100%;
	}
		h1{font-size:40px;font-family:Helvetica;}
		article{font-size:24px;margin-left:150px;margin-right:150px;line-height:30px}
		heading1{font-size:30px}
		td{font-family:Monospace;font-size:150px}
